body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-lg {
  flex: 2;
}
.flex-sm {
  flex: 1;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
