.grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.spacing {
  margin: 5em;
}
.overview-wrapper {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
li {
  margin: 1em 0 0 3em;
}
